[submodule "attempt_2019"]
	path = attempt_2019
	url = git@github.com:nizarmah/hashcode.git
	branch = attempt_2019
[submodule "attempt_2020"]
	path = attempt_2020
	url = git@github.com:nizarmah/hashcode.git
	branch = attempt_2020
